
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<nav className="hidden md:flex items-center space-x-8">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" >
        <span class="" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="nav-link" href="/about" Match="NavLinkMatch.All" >
        <span class="" aria-hidden="true"></span> About
    </NavLink>
    <NavLink class="nav-link" href="/portfolio" Match="NavLinkMatch.All" >
        <span class="" aria-hidden="true"></span> Portfolio
    </NavLink>
</nav>