@inject IHttpContextAccessor contextAccessor

<span hx-get="/api/counter" hx-trigger="counter-updated from:body">
    Current count: @_state.CurrentCount
</span>

@code {
    private CounterState _state;

    protected override void OnInitialized()
    {
        _state = contextAccessor.HttpContext.Session.GetObjectFromJson<CounterState>();
    }
}