@page "/login"
@using Microsoft.AspNetCore.Components.Forms

<form id="LoginForm">
    <AntiforgeryToken/>
    <input type="email" name="Email" hx-post="/login/check" hx-trigger="keyup changed delay:500ms" hx-target="#customers" />
    <div id="customers"></div>
    <div id="buttons">
        <button class="btn btn-primary disabled">Login</button>
    </div>
</form>