@page "/login"
@using Microsoft.AspNetCore.Components.Forms

<div id="LoginForm">
    <form method="get" action="/login/go" hx-target="#LoginForm">
        <label for="Email">Login</label>
        <input type="email" name="Email" hx-get="/login/check" hx-trigger="keyup changed delay:500ms" hx-target="#customers" />
        <span id="customers"></span>
        <span id="actions"></span>
    </form>    
</div>
